:root{
    /* primay color*/
    --grayis-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    /* neutral color */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --darkest-blue: hsl(234, 17%, 12%);
}
/* set styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: var(--very-dark-blue);
    background-image: url(./images/bg-stars.svg);
}

.soon-message {
    position: absolute;
    margin: 0 450px 0 450px;
    top: 20%;
    color: var(--white);
}

.countdown-container{
    position: absolute;
    top: 35%;
    margin: 0 250px 0 250px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.date-container{
    height: 80%;
    width: 25%;
    border-radius: 10px;
    background: var(--dark-desaturated-blue);
    display: grid;
    justify-items: center;
}

.numbers {
    color: var(--soft-red);
    font-size: 5em;
    margin-top: 5px;
}

.date-name {
    margin-top: 10px;
    color: var(--white);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-image: url(./images/pattern-hills.svg);
}

.social-container{
    position: absolute;
    top: 75px;
    left: 500px;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
  
  /* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
.fa-instagram {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
      background: #0c66c3;
      color: white;
}

